# Telegram Bot Token (@BotFather dan olinadi)
BOT_TOKEN=8970837149:AAGb7EhM3tkWz1SRP2PjNV8Hwc0rNHQAJ8M

# Bot administratorlari (o'qituvchi) Telegram ID raqamlari (vergul bilan ajratilgan)
# Telegram ID ni @userinfobot orqali bilish mumkin
ADMIN_IDS=1184083915

# Ma'lumotlar bazasi fayl yo'li
DATABASE_PATH=data/bot.db
