# Muhit sozlamalari va maxfiy kalitlar
.env
*.env

# Python kesh fayllari
__pycache__/
*.py[cod]
*$py.class


# Virtual muhit
venv/
.venv/
env/

# Excel va vaqtinchalik test fayllari
data/*.xlsx
data/*.docx
namuna.docx
data/images/*
!data/images/.gitkeep
